.mainBodyContainer {
    padding-top: 60px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#alarm1 {
    font-size: 100%;
}

.sensorLine span, .sensorLine button {
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;;
    display: table-cell;
    vertical-align: middle;
}

.sensorLine {
    margin-top: 20px;
    height: 50px;
}
