<% layout('BasePage') %>
<div class="row">
    <div class="sensorLine row" id="alarm1">
        <div class="col-lg-4">
            <span class="label label-default sensorName">Датчик движения 1:</span>
        </div>
        <div class="col-lg-6">
            <span class="label label-default sensorStatus">Not Connected</span>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-success arm">ON</button>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-success disarm">OFF</button>
        </div>
    </div>
</div>

<!--<img style="-webkit-user-select: none;" src="http://25.59.4.216:3001" width=100% >-->
