<% layout('BasePage') %>
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <p>Мониторинг</p>
            <p>Температура процессора: <span id="temp"></span>C</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <!--<img style="-webkit-user-select: none;" src="http://25.59.4.216:3001" width=100% >-->
        </div>
    </div>
    <a class="btn btn-danger" href="/services/shutdown">Выключить</a>
    <a class="btn btn-danger" href="/services/reboot">Перезагрузить</a>
</div>